#plantillas{
    display:none;
}


#container{
	border: solid 1px #AAAAAA;
}

#texto{
	height:100% !important;
}

/*#pantalla_explorador #div_mapa,
#pantalla_explorador #contenido{
    height: 100%;
}*/