#plantillas{
    display:none;
}


#content{
	border: solid 1px #AAAAAA;
	padding: 0;
}

#texto{
	height:100% !important;
}

/*#pantalla_explorador #div_mapa,
#pantalla_explorador #contenido{
    height: 100%;
}*/