<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.josetabuyo.prueba1"
	versionCode="10" 
	version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>La primera prueba</name>

    <description>
        An example for phonegap build docs.
    </description>
	
	<preference name="orientation" value="landscape" />

</widget>